<p>This is the partial for view 1.</p>

<div class="row">
  <div class="col-sm-4">
    <sparkline data="spark1Data" get-x="xFunction()" get-y="yFunction()" color="colorFunction()" height="50px"></sparkline>
  </div>  
  <div class="col-sm-4">
    <sparkline data="spark1Data" get-x="xFunction()" get-y="yFunction()" color="colorFunction()" height="50px" max="1" min="0" pt-color="blue" pt-alt-color="pink"></sparkline>
  </div>  
  <div class="col-sm-4">
    <sparkline data="spark1Data" get-x="xFunction()" get-y="yFunction()" color="colorFunction()" height="50px" max="1" min="-1"></sparkline>
  </div>  
</div>

