<p>This is the partial for view 2.</p>

<div class="row">
  <div class="col-sm-4">
    <sparkline data="spark1Data2" get-x="xFunction()" get-y="yFunction()" color="colorFunction()" height="50px"></sparkline>
  </div>  
  <div class="col-sm-4">
    <sparkline data="spark1Data2" get-x="xFunction()" get-y="yFunction()" color="colorFunction()" height="50px" max="80" min="0"></sparkline>
  </div>  
  <div class="col-sm-4">
    <sparkline data="spark1Data2" get-x="xFunction()" get-y="yFunction()" color="colorFunction()" height="50px" max="95" min="0" pt-radius="2"></sparkline>
  </div> 
</div><br>
<div class="row">
  <div class="col-sm-4">
    <sparkline data="spark1Data1" get-x="xFunction()" get-y="yFunction()" color="colorFunction()" height="50px"></sparkline>
  </div>  
  <div class="col-sm-4">
    <sparkline data="spark1Data1" get-x="xFunction()" get-y="yFunction()" color="colorFunction()" height="50px" max="1" min="0" pt-color="blue" pt-alt-color="pink"></sparkline>
  </div>  
  <div class="col-sm-4">
    <sparkline data="spark1Data1" get-x="xFunction()" get-y="yFunction()" color="colorFunction()" height="50px" max="1" min="-1"></sparkline>
  </div>  
</div>