<p>This is the partial for view 2.</p>

<div class="row">
  <div class="col-sm-4">
    <sparkline data="spark1Data" get-x="xFunction()" get-y="yFunction()" color="colorFunction()" height="50px"></sparkline>
  </div>  
  <div class="col-sm-4">
    <sparkline data="spark1Data" get-x="xFunction()" get-y="yFunction()" color="colorFunction()" height="50px" max="80" min="0"></sparkline>
  </div>  
  <div class="col-sm-4">
    <sparkline data="spark1Data" get-x="xFunction()" get-y="yFunction()" color="colorFunction()" height="50px" max="95" min="0" pt-radius="2"></sparkline>
  </div>  
</div>
