<div class="row">
  <div class="col-sm-8">
    <widget widget-title="Test title 1">
      Test data
      <br>Test data
      <br>Test data
      <br>Test data
      <br>Test data
      <br>
    </widget>
    
    <widget widget-title="Treatment Summary">
      Test data
      <br>Test data
      <br>Test data
      <br>Test data
      <br>Test data
      <br>
    </widget>

    <div class="widgetTitle">
      Treatment Summary
    </div>
    <div class="widgetDetails">
      Test data
      <br>Test data
      <br>Test data
      <br>Test data
      <br>Test data
      <br>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="widgetTitle">
      Treatment Summary
    </div>
    <div class="widgetDetails">
      Test data
      <br>Test data
      <br>Test data
      <br>Test data
      <br>Test data
      <br>
      <br>
      <br>Test data
      <br>Test data
      <br>Test data
    </div>
    <div class="widgetTitle">
      Treatment Summary
    </div>
    <div class="widgetDetails">
      Test data
      <br>Test data
      <br>Test data
      <br>Test data
      <br>Test data
      <br>
    </div>
  </div>

</div>