<div class="row">
  <div class="col-sm-8">
    <div class="widgetTitle">
      Treatment Summary
    </div>
    <div class="widgetDetails">
      Test data
      <br>Test data
      <br>Test data
      <br>Test data
      <br>Test data
      <br>
    </div>

    <div class="widgetTitle">
      Treatment Summary
    </div>
    <div class="widgetDetails">
      Test data
      <br>Test data
      <br>Test data
      <br>Test data
      <br>Test data
      <br>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="widgetTitle">
      Treatment Summary
    </div>
    <div class="widgetDetails">
      Test data
      <br>Test data
      <br>Test data
      <br>Test data
      <br>Test data
      <br>
      <br>
      <br>Test data
      <br>Test data
      <br>Test data
    </div>
    <div class="widgetTitle">
      Treatment Summary
    </div>
    <div class="widgetDetails">
      Test data
      <br>Test data
      <br>Test data
      <br>Test data
      <br>Test data
      <br>
    </div>
  </div>

</div>