<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/font-awesome-4.1.0/css/font-awesome.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/widget.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>

<body>
  <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div ng-controller="sideMenu" class="wrapper" ng-class="{slideMenuOpened: menuOpened}">

    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" ng-class="{slideMenuOpened: menuOpened}">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li>
            <a href="" target="_self" ng-click="setMenuOpened(true)" ng-hide="menuOpened">
              <i class="fa fa-bars" id="navIcon"></i>
            </a>
          </li>
          <li>
            <p class="navbar-text">
              <b>Home</b>
            </p>
          </li>
          <li>
            <a href="#/view1">view1</a>
          </li>
          <li>
            <a href="#/view2">view2</a>
          </li>
          <li>
            <a href="#/view3">view3</a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <form class="navbar-form">
              <input type="search" class="form-control " placeholder="Search Patients" name="searchTerm" id="patientSearch" ng-model="searchValue" ui-autocomplete="autoCompleteOptions">
              <button class="btn btn-primary" type="submit">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </form>
          </li>
          <li>
            <a href='' class="dropdown-toggle" data-toggle="dropdown" target="_self">User, Name
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href='' target="_self">Logoff</a>
              </li>
            </ul>
          </li>
        </ul>

        <span pageslide="left" ps-open="menuOpened">
          <div class="sideMenu">
            <span ng-include="'partials/sideMenu.html'"></span>
          </div>
        </span>
      </div>
    </nav>


    <div class="container" ng-view></div>

    <div>Angular seed app: v
      <span app-version></span>
    </div>
  </div>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/d3/d3.js"></script>

  <script src="js/app.js"></script>
  <script src="js/Directives/angular-pageslide-directive.js"></script>
  <script src="js/Directives/sparkline.js"></script>
  <script src="js/services/services.js"></script>
  <script src="js/Controllers/controllers.js"></script>
  <script src="js/Controllers/sideMenu.js"></script>
  <script src="js/Filters/filters.js"></script>
  <script src="js/Directives/directives.js"></script>
  <script src="js/Directives/widget.js"></script>
</body>

</html>
